# --- Ripgrep
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# --- Convenience functions
exe() {
    echo "\$ $@"
    "$@"
}

# --- zinit configuration

if [[ ! -d ~/.zinit ]]; then
    mkdir ~/.zinit
    git clone git@github.com:zdharma-continuum/zinit.git ~/.zinit/bin
fi

source ~/.zinit/bin/zinit.zsh
zinit snippet PZT::modules/environment/init.zsh
zinit snippet PZT::modules/terminal/init.zsh

zinit ice nocompile
zinit snippet PZT::modules/editor/init.zsh

zinit snippet PZT::modules/history/init.zsh
zinit snippet PZT::modules/spectrum/init.zsh

zinit light lukechilds/zsh-better-npm-completion
zinit light zsh-users/zsh-completions
zinit light zdharma-continuum/fast-syntax-highlighting

zinit light zsh-users/zsh-history-substring-search
bindkey -M emacs "$key_info[Up]" history-substring-search-up
bindkey -M emacs "$key_info[Down]" history-substring-search-down

zstyle ':prezto:module:git:alias' skip yes
zinit ice svn
zinit snippet PZT::modules/git

zinit snippet PZT::modules/ssh/init.zsh
zinit snippet PZT::modules/gpg/init.zsh

zinit ice svn
zinit snippet PZT::modules/python

setopt promptsubst
zinit snippet "$HOME/.tbekolay-theme.zsh"

# --- nvim
alias vim='nvim'
alias vimdiff='nvim -d'

# --- chezmoi
alias cm='chezmoi'

# --- buku
{{- if eq .chezmoi.hostname "bekolay" }}
alias buku='buku --db /mnt/ssd/apps/buku/bookmarks.db'
alias shurl='buku --db /mnt/ssd/apps/buku/bookmarks.db --shorten'
{{- else if eq .chezmoi.hostname "bekloud" }}
alias buku='buku --db /ssd/apps/buku/bookmarks.db'
alias shurl='buku --db /ssd/apps/buku/bookmarks.db --shorten'
{{- end }}

# --- git
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'
alias grs='git rebase --skip'

# --- taskwarrior
alias t='task'
tt() {
    gcalcli agenda now tomorrow
    task overdue
}


# --- docker
alias dcd='docker compose down'
alias dcu='docker compose up -d'
alias dcp='docker compose pull'

# --- pass
alias p='pass'
alias pp='pass -c'

# --- exa
alias ls='exa --group-directories-first'
alias l='exa -laF --group-directories-first --git'
alias tree='exa -T --group-directories-first'

# --- Install completions
autoload -Uz compinit
compinit
zinit cdreplay -q

# --- Set or reset options
setopt EXTENDED_GLOB
unsetopt BEEP
unsetopt CLOBBER
unsetopt AUTO_CD

# --- direnv
eval "$(direnv hook zsh)"

# --- zoxide

unalias zi
eval "$(zoxide init zsh)"

{{- if eq .chezmoi.hostname "bekolay" }}
# --- TF on GPU
export TF_GPU_ON=0
gpu_on() {
    CUDNN_PATH=$(dirname $(python -c "import nvidia.cudnn;print(nvidia.cudnn.__file__)"))
    export OLD_LD_LIBRARY_PATH="$LD_LIBRARY_PATH"
    export LD_LIBRARY_PATH="$CONDA_PREFIX/lib":"$CUDNN_PATH/lib":"$OLD_LD_LIBRARY_PATH"
    export XLA_FLAGS="--xla_gpu_cuda_data_dir=$CONDA_PREFIX/lib"
    export TF_GPU_ON=1
}

gpu_off() {
    if [ $TF_GPU_ON -eq "1" ]; then
        export LD_LIBRARY_PATH="$OLD_LD_LIBRARY_PATH"
        unset OLD_LD_LIBRARY_PATH
        unset XLA_FLAGS
        export TF_GPU_ON=0
    fi
}

# --- conda

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/home/tbekolay/Apps/mambaforge/bin/conda' 'shell.zsh' 'hook' 2>/dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/home/tbekolay/Apps/mambaforge/etc/profile.d/conda.sh" ]; then
        . "/home/tbekolay/Apps/mambaforge/etc/profile.d/conda.sh"
    else
        export PATH="/home/tbekolay/Apps/mambaforge/bin:$PATH"
    fi
fi
unset __conda_setup

if [ -f "/home/tbekolay/Apps/mambaforge/etc/profile.d/mamba.sh" ]; then
    . "/home/tbekolay/Apps/mambaforge/etc/profile.d/mamba.sh"
fi
# <<< conda initialize <<<

# bun completions
[ -s "/home/tbekolay/.bun/_bun" ] && source "/home/tbekolay/.bun/_bun"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"
{{- end }}
